@keyframes fade-from-top {
  from {
    opacity: 0;
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-from-left {
	from {
	  opacity: 0;
	  transform: translate3d(-40%, 0, 0);
	}
	
	80% {
		opacity: 0.9;
		transform: translate3d(5%, 0, 0);
	}
	
	to {
	  opacity: 1;
	  transform: none;
	}
}

@keyframes fade-from-bottom {
	from {
	  opacity: 0;
	  transform: translate3d(0, 25%, 0);
	}
	
	to {
		opacity: 1;
		transform: none;
	}
}

body {	
	background-color: black;
	text-align: center;
	background-image: url(../img/BG.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}


#MainPage {
	width: 100%;
	overflow: auto;
	position: relative;
	
}

#WelcomeHeader {
	width: 68rem;
	margin-left: 7rem;
	margin-top: 10%;
	
	animation-duration: 1.4s;
	animation-fill-mode: both;
	animation-name: fade-from-bottom;
}

#WelcomeHeader h1 {
	font-size: 4.2rem;
}

#WelcomeHeader h2 {
	font-size: 3.4rem;
	font-style: italic;
	margin-left: 50%;
	margin-top: -1rem;
}

#Introduction {
	width: 58rem;
	margin-left: 12rem;
	margin-top: 2.5rem;
	text-align: left;
}

#Introduction h3 {
	animation-delay: 0.4s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fade-from-left;
}

#Introduction p {
	margin-top: 1rem;
	margin-left: 1.2rem;
	font-size: 1.3rem;
	font-style: italic;
	
	animation-fill-mode: both;
	animation-name: fade-from-top;
}

#ShowHideOption {
	font-size: 1.1rem;
	font-style: normal;
	text-decoration: underline;
	color: #DBDFDF;
	margin-left: 1.5rem;
	cursor: pointer;
}

.dropfade-enter-active {
	animation: fade-from-top 0.7s;
}

.dropfade-leave-active {
	animation: fade-from-top 0.3s reverse;
}
/*
.drop-fade-enter-active {
  transition: all .3s ease;
}
.drop-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.drop-fade-enter, .slide-fade-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}*/

@media screen and (max-width: 1200px) {
	body {
		background-size: 75rem;
		width: 75rem;
	}
	
	
}


