@keyframes fade-from-top {
  from {
    opacity: 0;
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-from-left {
	from {
	  opacity: 0;
	  transform: translate3d(-40%, 0, 0);
	}
	
	80% {
		opacity: 0.9;
		transform: translate3d(5%, 0, 0);
	}
	
	to {
	  opacity: 1;
	  transform: none;
	}
}

@keyframes fade-from-bottom {
	from {
	  opacity: 0;
	  transform: translate3d(0, 25%, 0);
	}
	
	to {
		opacity: 1;
		transform: none;
	}
}

body {	
	background-color: black;
	text-align: center;
	background-image: url(../img/BG.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	text-align: center;
}

.text-wrapper {
  white-space: pre-wrap;
}

.rb-blacken-layer {
	background-color: rgba(0, 27, 48, 0.5);
	width: 100%;
	height: 100%;
}

.navigator {
	width: 100%;
	height: 5rem;
	background-color: rgba(15, 15, 15, 0.3);
	z-index: 1;
	display: flex;
	align-items: center;
	position:relative;
}

.navigator:after {
	content: '';
	background-image: url(../img/BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	filter: blur(5px);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 4.3rem;
}


.navigator .page-name {
	margin-left: 2.2rem;
	margin-top: -0.3rem;
	display: flex;
	color: white;
	align-items: center;
	cursor: default;
}

.navigator .page-name .page-name-title {
	font-size: 2.8rem;
}

.navigator .page-name .page-name-subtitle {
	font-size: 1.6rem;
	font-style: italic;
	margin-left: 1rem;
	margin-top: 0.7rem;
}

.frame-title {
	width: 88%;
	margin: auto;
	text-align: left;
	border-bottom: solid 0.15rem rgba(210, 220, 220, 0.5);
	padding-bottom: 0.6rem;
}

.frame-title h1 {
	font-size: 2.4rem;
	padding-top: 1.2rem;
	padding-bottom: 0.5rem;
	margin-left: 1.5rem;
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 1080px) {
	body {
		background-size: 67.5rem;
		width: 67.5rem;
	}
	
	.navigator:after {
		background-size: 67.5rem;
	}
}