p {
	margin-bottom: 0;
}

#MainPage {
	width: 100%;
	overflow: auto;
	position: relative;
	text-align: center;
}

#WelcomeHeader {
	width: 60rem;
	margin-left: 4.5rem;
	margin-top: 8%;
	
	animation-duration: 1.4s;
	animation-fill-mode: both;
	animation-name: fade-from-bottom;
}

#WelcomeHeader h1 {
	font-size: 4rem;
}

#WelcomeHeader h2 {
	font-size: 3.2rem;
	font-style: italic;
	margin-left: 50%;
	margin-top: -1rem;
}

#Introduction {
	width: 75%;
	margin-left: 6rem;
	margin-top: 3rem;
	margin-bottom: 4.2rem;
	text-align: left;
}

#Introduction h3 {
	animation-delay: 0.4s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fade-from-left;
	font-size: 1.45rem;
}



#Introduction div {
	margin-top: 1rem;
	margin-left: 0.5rem;
	font-size: 1.35rem;
	font-style: italic;
	
	animation-fill-mode: both;
	animation-name: fade-from-top;
}

#ShowHideOption {
	font-size: 1.1rem;
	font-style: normal;
	text-decoration: underline;
	color: #DBDFDF;
	margin-left: 1.3rem;
	marin-top: 0.2rem;
	cursor: pointer;
	
}

#OptionsArea {
	display: flex;
	width: 21rem;
	justify-content: space-between;
	margin: 0 auto;
	animation-fill-mode: both;
	animation-name: fade-from-bottom;
}

.main-bottom {
	width: 9.5rem;
	height: 2.85rem;
	font-size: 1.4rem;
	line-height: 2.85rem;
	border-radius: 1rem;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	
}

.home-default-bottom {
	background-color: white;
	color: black;
	border-color: white;
}

.home-default-bottom:hover {
	background-color: #DBDFDF;
}

.home-optional-bottom {
	background-color: black;
	color: white;
	border-color: white;
}

.home-optional-bottom:hover {
	background-color: #333333;
}

@media screen and (max-width: 1080px) {
	#Introduction {
		width: 56rem;
	}
}


